<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="menu">
	<select id="list" resultType="Menu">
		WITH RECURSIVE cte AS (
		    SELECT menu_id, menu_name, role, status, par_menu_id, menu_path, order_num,
		           CAST(CONCAT(order_num, '_', menu_id) as CHAR(40)) AS v_ord,
		           1 AS lvl
		    FROM menu 
		    WHERE par_menu_id IS NULL AND status = '1' 
		    AND role = 
		    <choose>
			    <when test="memberId != null">
					(select role from member_role where status = '1' and member_id = #{memberId})
			    </when>
			    <otherwise>
			        'user'
			    </otherwise>
			</choose>
		    UNION ALL
		    SELECT t.menu_id, t.menu_name, t.role, t.status, t.par_menu_id, t.menu_path, t.order_num,
		           CONCAT(cte.v_ord, '->', t.order_num, '_', t.menu_id) AS v_ord,
		           cte.lvl + 1
		    FROM menu t
		    INNER JOIN cte ON t.par_menu_id = cte.menu_id
		    where t.status = '1'
		)
		SELECT * FROM cte
		WHERE par_menu_id IS NOT NULL 
		ORDER BY v_ord
	</select>
</mapper>
